@import '@styles/base';

.categories {
  position: sticky;
  top: 110px;
  z-index: 1;
  height: fit-content;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.3);
  background-color: $thirdColor;
  @include screen(small) {
    position: static;
    width: fit-content;
    margin: 20px;
    z-index: 0;
  }
  .title {
    font-weight: 400;
  }
  .categoriesList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
    .category {
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 30px;
      background-color: rgb(232, 232, 232);
      transition: 0.3s;
      &:hover {
        background-color: $primaryColor;
        color: $thirdColor;
      }
    }
  }
}
