@import '@styles/base';

.homePage {
  margin: 0;
  .wrapper {
    padding: 100px;
    background-color: $primaryColor;
    @include screen(small) {
      padding: 50px 20px;
    }
  }
  .title {
    font-size: 50px;
    font-weight: 800;
  }
  .desc {
    margin-top: 0;
    font-size: 24px;
    font-weight: 400;
    width: 60%;
    @include screen(small) {
      width: 100%;
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    @include screen(small) {
      flex-direction: column-reverse;
    }
    gap: 20px;
  }
}
